.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbarTop {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
}

.navLogo {
  width: 100px;
  object-fit: contain;
  margin: 0 10px;
  margin-top: 18px;
}

.navSearch {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.navSearchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.searchIcon {
  padding: 5px;
  height: 22px !important;
  border-radius: 0 4px 4px 0;
  background-color: #febd69;
}

.navTabs {
  display: flex;
  justify-content: space-evenly;
}

.navTab {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.navTabLnOne {
  font-size: 10px;
}

.navTabLnTwo {
  font-size: 13px;
  font-weight: 800;
}

.navCartIcon {
  display: flex;
  align-items: center;
  color: white;
}

.cartCounter {
  margin-left: 10px;
  margin-right: 10px;
}

.navbarBottom {
  background-color: #232f3e;
  height: 39px;
  display: flex;
  align-items: center;
  color: white;
}

.navbarBottomLeft {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 8px 9px;
}

.navbarBottomLeft>span {
  font-size: 15px;
  font-weight: bolder;
}

.navbarBottomMid {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex: 2;
}

.navbarBottomMid>p {
  margin: 2px 0;
  padding: 8px 9px;
  font-size: 15px;
  font-weight: bold;
}

.navbarBottomRight {
  margin: 2px 0;
  padding: 8px 9px;
  font-size: 15px;
  font-weight: bold;
}